.movie-screen {
  display: flex;
  flex-wrap: wrap;
  background-color: #121212;
  color: white;
  padding: 20px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.movie-screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity value here */
  pointer-events: none;
}

.movie-image {
  flex: 1;
  min-width: 300px;
}

.movie-image img {
  width: 100%;
  border-radius: 10px;
}

.movie-details {
  flex: 2;
  padding: 20px;
}

.movie-title {
  font-size: 4em;
  margin-bottom: 10px;
}

.backdrop-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  pointer-events: none;
}

.container_movie {
  position: relative;
  z-index: 1;
}

.movie-info {
  font-size: 0.8em;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.movie-overview {
  margin-bottom: 20px;
}

.movie-meta {
  display: flex;
  justify-content: space-between;
}

.movie-release-date,
.movie-rating {
  font-size: 1em;
}

.container_movie {
  margin: 50px 200px;
  display: flex;
  padding-right: 100px;
  padding-left: 100px;
}

.movie-language {
  font-size: 1.5em;
  font-weight: 800;
  border: 3px solid white;
  padding: 3px;
}

.movie-genres {
  display: flex;
  padding-left: 10px;
}

.movie-runtime {
  padding-left: 10px;
}

.recco-title {
  color: white;
  padding-left: 110px;
  padding-bottom: 30px;
}

.recco-container {
  padding-top: 100px;
}

.recommended-movies {
  display: flex;
}

.button__container{
  margin-top: 35px ;
}

.watch__button {
  background-color: #e50914;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.3s;
}

.watch__button:hover {
  background-color: #f40612;
  transform: scale(1.05);
}

.watch__button:active {
  background-color: #d40813;
  transform: scale(1);
}